!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
#
# Android/IntelliJ
# Bundle artifact
# debug
# dependencies
# Expo
# fastlane
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# local env files
# macOS
# Metro
# Native
# node.js
# OSX
# Ruby / CocoaPods
# screenshots whenever they are needed.
# Temporary files created by Metro to check the health of the file watcher
# testing
# typescript
# Xcode
**/fastlane/Preview.html
**/fastlane/report.xml
**/fastlane/screenshots
**/fastlane/test_output
*.hmap
*.hprof
*.iml
*.ipa
*.jks
*.jsbundle
*.key
*.keystore
*.mobileprovision
*.mode1v3
*.mode2v3
*.moved-aside
*.orig.*
*.p8
*.p12
*.pbxuser
*.pem
*.perspectivev3
*.tsbuildinfo
*.xccheckout
*.xcuserstate
.cxx/
.DS_Store
.env*.local
.expo/
.gradle
.idea
.metro-health-check*
/coverage
/ios/Pods/
/vendor/bundle/
build/
DerivedData
dist/
ios/.xcode.env.local
local.properties
node_modules/
npm-debug.*
npm-debug.log
web-build/
xcuserdata
yarn-debug.*
yarn-error.*
yarn-error.log
.env